#container{
  height: 1200px;
  min-width : 800px;

}
.section{
  background-color : white;
  margin-left : 37px;
  margin-top : 13px;
  border-radius : 40px;
  margin-right : 37px;
  flex : 1;
  min-width : 900px;

}
.title-wrapper{
  display:flex;
  width:100%;

}
.title{
  width: 83.5%;

  color : rgb(8, 153, 169);
  font-size : 24px;
  margin-left : 59px;
  margin-top : 29px;
}
.detail {

  margin-left : 59px;
  margin-top : 49px;
}
.table-container{


  margin-left : 59px;
  margin-top : 50px;
  margin-bottom :50px;
}
.table-head{

  color : rgb(8, 155, 171)
}
.table-body {

  color : black;
}

.head{
  display : flex;
  height : 30px;
  text-align : center;
}

.cell {
  text-align : center;
}

.cell-small{

  width : 50px;
}
.cell-medium{

  width : 160px;
}
.cell-big{

  width : 400px;
}
.save{
    margin-top: 29px;
    background-color : rgb(206,235,238);
    width : 63px;
    height : 36px;
    border : 0px;
    border-radius : 11px;
    color : rgb(8,155,171);
    font-size : 17px;
}
.create{
    margin-top: 29px;
    background-color : rgb(206,235,238);
    width : 63px;
    height : 36px;
    border : 0px;
    border-radius : 11px;
    color : rgb(8,155,171);
    font-size : 17px;
}
.edit{
    background-color : rgb(206,235,238);
    width : 63px;
    height : 36px;
    border : 0px;
    border-radius : 11px;
    color : rgb(8,155,171);
    font-size : 17px;
}
.delete{
    background-color : rgb(238,206,206);
    width : 63px;
    height : 36px;
    border : 0px;
    border-radius : 11px;
    color : rgb(175,0,0);
    font-size : 17px;
}

.line{

  display : flex;
  height : 30px;
  padding-top : 50px;
}
.field-name-kor{
  display:inline-block;
  width : 200px;

  text-align : center;
  font-size : 24px;
}
.field-value{
  margin-left : 50px;
  border-top : 0px;
  border-left : 0px;
  border-right : 0px;
  width : 400px;
  font-size : 24px;
  color : rgb(151,151,151);
  text-align : center;

}
