<p *ngIf ="curation">{{curation.rank}}
</p>
<div class= "container">
  <div class= "section">
      <div class= "title-wrapper">
          <div class= "title">
            Curation 조회
          </div>
          <button class="save" (click)="saveClicked()">저장</button>
      </div>

  <div class= "detail" *ngIf = "curation">
    <div class="line">
      <label>
        <span class="field-name-kor">
          큐레이션명
        </span>
        <input class="field-value" [(ngModel)] = "curation.title" placeholder = "타이틀 입력">
      </label>
    </div>
    <div class="line">
      <label>
        <span class="field-name-kor">
          순서
        </span>
        <input class="field-value" [(ngModel)] = "curation.rank" placeholder = "ranking 입력">
      </label>
    </div>
        <div class="line">
      <label>
        <span  class="field-name-kor">
          ID
        </span>
        <input class="field-value" [(ngModel)] = "curation.id" placeholder = "자동입력입니다. 손대지 마세요.">
      </label>
    </div>
  </div>
  <div class= "table-place" *ngIf = "curation">
    <div class= "title-wrapper">
      <div class= "title">
        Place 리스트
       </div>
       <app-place-pop-up (messageEvent)="receiveMessage($event)"></app-place-pop-up>
    </div>
    <div class= "table-container">
      <div class= "table-wrapper">
        <div class = "table">
          <div class= "table-head">
            <table>
              <thead>
                <tr class= "head">
                  <th class= "cell-medium cell">Id</th>
                  <th class="cell-small cell">순서</th>
                  <th class= "cell-big cell"> 지역명</th>
                  <th class= "cell-medium cell"> 부제</th>
                  <th class= "cell-small cell">점수</th>
                  <th class="cell-medium cell button-cell">수정</th>
                </tr>
              </thead>
            </table>

        </div>
          <div class= "table-body">
            <table>
              <tbody>
                <tr *ngFor = "let place of curation.list_of_places; let i = index" class = "body">
                    <td class="cell-medium cell">{{place.place_id}}</td>
                    <td class= "cell-small cell">{{place.rank}}</td>
                    <td class="cell-big cell">{{place.title_kor}}</td>
                    <td class="cell-medium cell">{{place.subtitle}}</td>
                    <td class="cell-small cell">{{place.score}}</td>
                    <td class="cell-medium">
                      <button class= "edit">
                         수정
                      </button>
                      <button class= "delete" (click)= "deleteClicked(place)">
                       삭제
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
  </div>
  </div>
</div>
