#container{
  height: 1200px;
  min-width : 800px;

}

.section{
  background-color : white;
  margin-left : 37px;
  margin-top : 13px;
  border-radius : 40px;
  margin-right : 37px;
  flex : 1;
  min-width : 900px;

}
#search-section{
  min-height : 200px;
  display : flex;
  flex-direction : row;
}
.content-wrapper {

  flex : 1;
  width : 90%;
  display : flex;
  flex-direction : column;
}
.button-wrapper{

  width  : 10%;
}
a:link {
  text-decoration: none;
  color : black;
}

a:visited {
  text-decoration: none;
  color : black;
}

.save{
    margin-top: 29px;
    background-color : rgb(206,235,238);
    width : 63px;
    height : 36px;

    border-radius : 11px;
    color : rgb(8,155,171);
    font-size : 17px;
}

.title{

  color : rgb(8, 153, 169);
  font-size : 24px;
  margin-left : 59px;
  margin-top : 29px;
}

.detail {

  margin-left : 59px;
  margin-top : 49px;
}

.table-container{


  margin-left : 59px;
  margin-top : 50px;
  margin-bottom :50px;
}
.table-head{

  color : rgb(8, 155, 171)
}
.table-body {

  color : black;
}

.head{
  display : flex;
  height : 30px;
  text-align : center;
}

.cell {
  text-align : center;
}

.cell-small{

  width : 50px;
}
.cell-medium{

  width : 160px;
}
.cell-big{

  width : 400px;
}
.create{
  display : absolute;
  margin-right : 20px;
}
.title-wrapper{
  display:flex;
  width:100%;

}
.detail-title{
  width: 83.5%;
}
.create{
    margin-top: 29px;
    background-color : rgb(206,235,238);
    width : 63px;
    height : 36px;
    border : 0px;
    border-radius : 11px;
    color : rgb(8,155,171);
    font-size : 17px;
}
.create a {
  color : rgb(8,155,171);
}
